<%= content_for(:title) do %>
  <%= @service.title %>
<% end %>

<div class="col-xs-12">
  <h2 class="text-center"><%= @institute.name %>: <%= @service.title %></h2>
  <p class="text-center"><%= @service.duration %> minutes - <%= @service.price %>€</p>
</div>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-9">
      <div class="container calendar">

        <% monday = Date.commercial(@search_date.cwyear, @search_date.cweek) %>

        <div class="row">
          <p>Cliquez sur l'horaire qui vous convient:</p>
          <br>
          <%= monday.strftime("%B") %> <%= monday.year %>
          <br>
        </div>

        <% slots = (@end_time - @start_time)/(60*30) %>
        <% hours = Array.new(slots) { |i| @start_time + (30 * i).minute } %>
        <% days = Array.new(7) { |i| monday + i.day } %>

        <div class="row">
          <div class="col-xs-1">
            <%= link_to :search_date => @search_date - 1.week do %>
              <i><<<</i>
            <% end %>
          </div>
          <% days.each do |d| %>
            <div class="col-xs-1">
              <%= d.strftime("%A")[0..2] %><br>
              <%= d.mday %>
            </div>
          <% end %>
          <div class="col-xs-1">
            <%= link_to :search_date => @search_date + 1.week do %>
              <i>>>></i>
            <% end %>
          </div>
        </div>

        <% hours.each do |h| %>
          <div class="row">
            <div class="col-xs-1">
              <%= h.to_s(:time) %>
            </div>
            <% days.each do |d| %>
              <div class="col-xs-1">
                  <% dh = (d + h.seconds_since_midnight.seconds).to_datetime %>
                  <% available = true %>

                  <% if dh > Time.now %>
                    <% if dh.strftime("%A") == "Monday" %>
                      <% if dh.seconds_since_midnight.seconds < @timetable[0].monday_start_time.seconds_since_midnight.seconds || dh.seconds_since_midnight.seconds >= @timetable[0].monday_end_time.seconds_since_midnight.seconds %>
                        <% available = false %>
                        <div class="calendar-cell cell-closed">
                        </div>
                      <% end %>
                    <% end %>
                    <% if dh.strftime("%A") == "Tuesday" %>
                      <% if dh.seconds_since_midnight.seconds < @timetable[0].tuesday_start_time.seconds_since_midnight.seconds || dh.seconds_since_midnight.seconds >= @timetable[0].tuesday_end_time.seconds_since_midnight.seconds %>
                        <% available = false %>
                        <div class="calendar-cell cell-closed">
                        </div>
                      <% end %>
                    <% end %>
                    <% if dh.strftime("%A") == "Wednesday" %>
                      <% if dh.seconds_since_midnight.seconds < @timetable[0].wednesday_start_time.seconds_since_midnight.seconds || dh.seconds_since_midnight.seconds >= @timetable[0].wednesday_end_time.seconds_since_midnight.seconds %>
                        <% available = false %>
                        <div class="calendar-cell cell-closed">
                        </div>
                      <% end %>
                    <% end %>
                    <% if dh.strftime("%A") == "Thursday" %>
                      <% if dh.seconds_since_midnight.seconds < @timetable[0].thursday_start_time.seconds_since_midnight.seconds || dh.seconds_since_midnight.seconds >= @timetable[0].thursday_end_time.seconds_since_midnight.seconds %>
                        <% available = false %>
                        <div class="calendar-cell cell-closed">
                        </div>
                      <% end %>
                    <% end %>
                    <% if dh.strftime("%A") == "Friday" %>
                      <% if dh.seconds_since_midnight.seconds < @timetable[0].friday_start_time.seconds_since_midnight.seconds || dh.seconds_since_midnight.seconds >= @timetable[0].friday_end_time.seconds_since_midnight.seconds %>
                        <% available = false %>
                        <div class="calendar-cell cell-closed">
                        </div>
                      <% end %>
                    <% end %>
                    <% if dh.strftime("%A") == "Saturday" %>
                      <% if dh.seconds_since_midnight.seconds < @timetable[0].saturday_start_time.seconds_since_midnight.seconds || dh.seconds_since_midnight.seconds >= @timetable[0].saturday_end_time.seconds_since_midnight.seconds %>
                        <% available = false %>
                        <div class="calendar-cell cell-closed">
                        </div>
                      <% end %>
                    <% end %>
                    <% if dh.strftime("%A") == "Sunday" %>
                      <% if dh.seconds_since_midnight.seconds < @timetable[0].sunday_start_time.seconds_since_midnight.seconds || dh.seconds_since_midnight.seconds >= @timetable[0].sunday_end_time.seconds_since_midnight.seconds %>
                        <% available = false %>
                        <div class="calendar-cell cell-closed">
                        </div>
                      <% end %>
                    <% end %>
                  <% else %>
                    <% available = false %>
                    <div class="calendar-cell cell-closed">
                    </div>
                  <% end %>

                  <% @service.bookings.each do |b| %>
                    <% if dh >= b.start_datetime && dh < b.end_datetime %>
                      <% available = false %>
                      <div class="calendar-cell cell-booked">
                      </div>
                    <% end %>
                  <% end %>

                  <% if available %>
                    <a href="?date=<%= d.to_s %>&time=<%= h.to_s(:time)%>">
                      <div class="calendar-cell cell-available" data-toggle="tooltip" data-placement="top" title=" <%= d.strftime("%A")[0..2] %> <%= d.mday %>, <%= h.to_s(:time) %>">
                      </div>
                    </a>
                  <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>

    <% if @date %>
      <div class="col-xs-12 col-sm-3">
        <div class="confirmation">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p><i>Confirmez votre réservation</i></p>
          <p>chez <strong><%= @institute.name %></strong></p>
          <p>pour un(e) <strong><%= @service.title %></strong></p>
          <p><%= @service.price %>€, durée <%= @service.duration %> min</strong></p>
          <p>à <strong><%= @time %></strong></p>
          <p>le <strong><%= @date %></strong></p>

          <%= simple_form_for [@service, @booking] do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :date, :as => :hidden, input_html: { value: @date } %>
              <%= f.input :time, :as => :hidden, input_html: { value: @time } %>
            </div>
            <div class="form-actions text-center">
              <%= f.submit "CONFIRMER", class: "btn btn-gold" %>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="text-center"><%= link_to "Retour", :back, class:"btn-black" %></div>
