<%= content_for(:title) do %>
  Nos prestations
<% end %>

<h1 class="text-center"><%= @institute.name %>: <%= @service.title %></h1>
<br>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <div class="container calendar">

        <% monday = Date.commercial(@search_date.cwyear, @search_date.cweek) %>

        <div class="row">
          <p>Cliquez sur l'horaire qui vous convient:</p>
          <br>
          <%= monday.strftime("%B") %> <%= monday.year %>
        </div>

        <% slots = (@end_time - @start_time).to_min/30 %>
        <% hours = Array.new(slots) { |i| @start_time + (30 * i).minute } %>
        <% days = Array.new(7) { |i| monday + i.day } %>

        <div class="row">
          <div class="col-xs-1">
            <%= link_to :search_date => @search_date - 1.week do %>
              <i class="fa fa-long-arrow-left"></i>
            <% end %>
          </div>
          <% days.each do |d| %>
            <div class="col-xs-1">
              <%= d.strftime("%A")[0..2] %><br>
              <%= d.mday %>
            </div>
          <% end %>
          <div class="col-xs-1">
            <%= link_to :search_date => @search_date + 1.week do %>
              <i class="fa fa-long-arrow-right"></i>
            <% end %>
          </div>
        </div>

        <% hours.each do |h| %>
          <div class="row">
            <div class="col-xs-1">
              <%= h.to_s(:time) %>
            </div>
            <% days.each do |d| %>
              <div class="col-xs-1">
                <div>
                  <% dh = (d + h.seconds_since_midnight.seconds).to_datetime %>
                  <% booked = false %>

                  <% @service.bookings.each do |b| %>
                    <% if dh >= b.start_datetime && dh <= b.end_datetime %>
                      <% booked = true %>
                      <p>x</p>
                    <% end %>
                  <% end %>

                  <% unless booked %>
                    <a href="?date=<%= d.to_s %>&time=<%= h.to_s(:time)%>"><i class="fa fa-long-arrow-right"></i></a>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>

    <% if @date %>
      <div class="col-xs-12 col-sm-6">
        <div class="confirmation">
          <p><i>Confirmez votre réservation</i></p>
          <p>chez <strong><%= @institute.name %></strong></p>
          <p>pour un(e) <strong><%= @service.title %></strong></p>
          <p><%= @service.price %>€, durée <%= @service.duration %> min</strong></p>
          <p>à <strong><%= @time %></strong></p>
          <p>le <strong><%= @date %></strong></p>

          <%= simple_form_for [@service, @booking] do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :date, :as => :hidden, input_html: { value: @date } %>
              <%= f.input :time, :as => :hidden, input_html: { value: @time } %>
            </div>
            <div class="form-actions text-center">
              <%= f.submit "CONFIRMER", class: "btn btn-gold" %>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>


  </div>
</div>

<div class="text-center"><%= link_to "Retour", :back %></div>
