<h1 class="text-center"><%= @service.title %></h1>

<h2>Les services offerts :</h2>

<h3><%= @service.category %></h3>
<p><%= @service.title %></p>
<p><%= @service.price %></p>
<p><%= @service.duration %></p>

<div class="text-center"><%= link_to "Retour", institutes_path %></div>
