<%= content_for(:title) do %>
  Nouvelle prestation
<% end %>

<h2 class="text-center">Ajouter une prestation pour <%= @institute.name %></h2>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form">
        <%= simple_form_for [:business, @institute, @service] do |f| %>
        <%= f.error_notification %>
          <%= f.input :title, class: "form-control" %>
          <%= f.input :description, class: "form-control" %>
          <%= f.input :price, class: "form-control" %>
          <%= f.input :duration, class: "form-control" %>
          <%= f.input :category, class: "form-control" %>
          <%= f.submit "Ajouter votre service", class: "btn btn-black" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
