<div class="banner-institute" style='<%= "background:linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)), url(#{image_url @institute.picture1.url(:medium) }); background-size: cover;  background-position: center center; height:600px" %>'>



</div>

<% content_for(:after_js) do %>
<% end %>



<div class="text-center">
  <h1><%= @institute.name %></h1>
  <p><%= @institute.description %></p>
  <p><%= @institute.address %></p>
  <p><%= @institute.zipcode %>, <%= @institute.city %></p>
</div>


        <ul class="unstyled">
          <br>
            <% @services.each do |service|  %>
              <li class='white-card-list'>
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-sm-4">
                      <h4><%= service.title %></h4>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                      <div><%= service.price %>€ - <%= service.duration %>min</div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                      <div><%= link_to "Voir disponibilités", institute_service_path(@institute, service) %></div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                      <div><%= link_to("Reserver", new_institute_service_booking_path(@institute, service), class:"btn-black" ) %></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div>
                        <%= service.description %>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
        </ul>


<div id="map" style="width: 100%; height: 200px;"></div>
 <% content_for(:after_js) do %>

    <%= javascript_tag do %>


      $(document).on('ready', function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(16);
          handler.getMap().setOptions({
            styles:  [
    {
        "featureType": "all",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape.man_made",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#c7c7c7"
            }
        ]
    },
    {
        "featureType": "landscape.natural",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#a9d8ae"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.business",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.business",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.medical",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "poi.medical",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#f2dccd"
            }
        ]
    },
    {
        "featureType": "poi.medical",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#a9d8ae"
            }
        ]
    },
    {
        "featureType": "poi.sports_complex",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 99
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#808080"
            },
            {
                "lightness": 54
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#767676"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "road.highway.controlled_access",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#e7e7e7"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "saturation": 43
            },
            {
                "lightness": -11
            },
            {
                "hue": "#0088ff"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#66cae1"
            }
        ]
    }
]

          })
        });
      })
    <% end %>
<% end %>

<div class="text-center btn-gold"><%= link_to "Retour", institutes_path %></div>
