<%= content_for(:title) do %>
  Mes instituts
<% end %>

<div class="title text-center">
  <h1 class="title-shadowed margin-top-and-down">MES INSTITUTS</h1>
</div>

<div class="text-center">
  <%= link_to "Ajouter un nouvel institut", new_business_institute_path, class: "btn-black margin-down-less" %>
</div>

<% @institutes.each do |institute| %>

<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="institute">
       <div class="institute-header" style="background-image: url('<%= institute.picture1 %>');"></div>
    <div class="institute-body">
      <%= link_to business_institute_path(institute) do %>
         <h2 class="gold-hover-black"><%= institute.name %></h2>
      <% end %>
        <p class="description"><%= institute.description %></p>
        <p class="description"><%= institute.address %></p>
        <p class="description">
          <%= institute.zipcode %>
          <%= institute.city %>
        </p>
       <div class="hover-gold"> <%= institute.bookings.count %> <%= link_to "Réservations", business_institute_bookings_path(institute), class:"hover-gold" %></div>
          <br>



<!--
         <%= link_to business_institute_path(institute),
                 method: :delete,
                 data: { confirm: "Are you sure?" } do %>
                 <i class="fa fa-trash"></i> Supprimer mon institut
               <% end %>
 -->

    </div>
  </div>
</div>

<%end%>
