<div class="margin-top-and-down">
  <h1 class="text-center">AJOUTER UN INSTITUT</h1>
  <h3 class="text-center"><i class="fa fa-pencil"></i></h3>
</div>

<div class="container">

 <!--  <div class= "form-user">
    <%= simple_form_for [@user, @institute], html: { multipart: true } do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :address %>
      <%= f.input :city %>
      <%= f.input :zipcode %>
      <%= f.input :picture1 %>
      <%= f.input :picture2 %>
      <%= f.input :picture3 %>
      <%= f.submit "Ajouter votre nouvel institut", class: "btn btn-primary" %>
    <% end %> -->

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div>
        <%= simple_form_for [@user, @institute], html: { multipart: true } do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :address %>
          <%= f.input :city %>
          <%= f.input :zipcode %>
          <%= f.input :picture1 %>
          <%= f.input :picture2 %>
          <%= f.input :picture3 %>
          <%= f.submit class: "btn-gold" %>
        <% end %>
      </div>
    </div>
>>>>>>> de1c0629cafaa6c7ccff535c7c58a4fd687c37ea:app/views/institutes/new.html.erb
  </div>
</div>





