<h1 class="text-center title-shadowed">VOS PROCHAINS RENDEZ-VOUS</h1>


<ul>
  <% @my_bookings.each do |booking| %>
    <div class="institute">
      <li><%= booking.service.title %>: Coût - <%= booking.service.price %>€ / Durée - <%= booking.service.duration %>min.
        <br>
          <%= booking.start_datetime %>
          <%= booking.end_datetime %>
      </li>
    </div>
  <% end %>
</ul>


