<%= content_for(:title) do %>
  Mes réservations
<% end %>

<div class="title text-center">
  <h1 class="title-shadowed">MES RÉSERVATIONS</h1>
</div>

<% @bookings.each do |booking| %>

  <div class="col-xs-12 col-sm-6 col-md-3">

   <div class="institute">
    <div class="institute-body">
      <h2 class="text-center"> <%=booking.service.title%></h2>
         <div class ="text-center">
          <%= link_to booking.service.institute.name,
          institute_path(booking.service.institute), class:"gold-hover-black" %>
        </div>
       <p class="description text-center"><%= booking.service.description %></p>
       <p class="description text-center"><%= booking.start_datetime.strftime("Le %d-%m-%Y à %H:%M") %></p>
       <p class="description text-center"><strong><%= booking.service.price.to_s + '€' %></strong></p>

        <% if booking.start_datetime >= DateTime.now %>

          <div class="optionnal-actions">
          <%= link_to edit_service_booking_path(booking.service, booking), class:"link-color-hover" do %>
           <i class="fa fa-pencil"></i>Éditer
          <% end %>
          </div>

          <div class="optionnal-actions">
          <%= link_to service_booking_path(booking.service, booking), class:"link-color-hover",
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
            <i class="fa fa-trash"></i> Supprimer
          <% end %>
          </div>

        <% else %>

          <div class="optionnal-actions">
            <%= link_to new_booking_review_path(booking), class:"link-color-hover" do %>
             <i class="fa fa-star"></i> Laisser un commentaire
            <% end %>
          </div>

          <div class="optionnal-actions">
            <%= link_to institute_service_path(booking.service.institute, booking.service), class:"link-color-hover" do %>
             <i class="fa fa-calendar"></i> Prendre rendez-vous
            <% end %>
          </div>

        <% end %>

      </div>
     </div>
   </div>
  </div>

<%end%>


