<h1>Edit profile</h1>
<%= link_to "Retour", :back %>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= simple_form_for(@user, url: user_path, html: { multipart: true }) do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <!-- GENDER -->
        <%= f.input :address %>
        <%= f.input :zipcode %>
        <%= f.input :city %>
        <%= f.input :phone_number %>
        <%= f.input :birthdate %>
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>


        <%= f.button :submit, class: "btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
