<h1 class="text-center title-shadowed">Modifiez votre profil</h1>

<!-- class="padding-top-bottom" -->


<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <%= simple_form_for(@user, url: user_path, defaults: { input_html: { class: 'padding-top-bottom-form' } }, html: { multipart: true }) do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <!-- GENDER -->
        <%= f.input :address %>
        <%= f.input :zipcode %>
        <%= f.input :city %>
        <%= f.input :phone_number %>
        <%= f.input :birthdate %>
        <%= f.label :picture %>
        <%= f.file_field :picture %>


        <%= f.button :submit, id:"modify" %>
      <% end %>
    </div>
  </div>

  <div class="text-center">
    <%= link_to "Retour", :back, class:"btn-black", id:"return-btn" %>
  </div>

</div>
