<%= content_for(:title) do %>
 Mes instituts
<% end %>

<div class="title text-center">
  <h1 class="title-shadowed">MES INSTITUTS</h1>
</div>

<% @my_institutes_uniques.each do |institute| %>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="institute">
        <div class="institute-header" style="background-image: url('<%= institute.picture1 %>');"></div>
      <div class="institute-body">
        <h2><%= institute.name %></h2>
        <p class="description"><%= institute.description %></p>
        <p class="description"><%= institute.address %></p>
        <p class="description">
          <%= institute.zipcode %>
          <%= institute.city %>
          </p>
          <%= link_to "Prendre un nouveau rendez-vous",
              institute_path(institute),
              class: "btn btn-black" %>
      </div>
    </div>
  </div>

<%end%>

