<div class="title text-center">
  <h1>MES INSTITUTS</h1>
</div>


<% @bookings.each do |booking| %>

<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="institute">
        <!--   <div class="institute-header" style="background-image: url('<%= asset_path 'evidence.jpg'%>');"></div> -->
    <div class="institute-body">
       <h2><%= booking.service.institute.name %></h2>
        <p class="description"><%= booking.service.institute.description %></p>
        <p class="description"><%= booking.service.institute.address %></p>
        <p class="description">
          <%= booking.service.institute.zipcode %>
          <%= booking.service.institute.city %>
        </p>

    </div>
  </div>
</div>

<%end%>

