<h1>Voici votre profil : </h1>

<div class="container">
  <div class="row row-centered">
    <div class="col-xs-6 col-xs-offset-3">
      <h2><%= @user.first_name %></h2>
      <h2><%= @user.last_name %></h2>
      <p><%= @user.address%></p>
      <p><%= @user.zipcode %></p>
      <p><%= @user.city %></p>
      <p><%= @user.phone_number %></p>
      <p><%= @user.birthdate %></p>


    </div>
  </div>
</div>
