<h1 class="text-center">VOTRE PROFIL</h1>

<div class="white-card">
  <h2><%= @user.first_name %> <%= @user.last_name.upcase  %></h2>
  <p><%= @user.address%></p>
  <p><%= @user.zipcode %>, <%= @user.city %></p>
  <p>Né le <%= @user.birthdate %></p>
</div>

<div class="btn-gold text-center">
  <%= link_to "Modifiez votre profil", edit_user_path(@user) %>
</div>
