<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<div class="banner">
  <div class="banner-content">
    <%= image_tag "logo_large.png", class: "padding-medium" %>
    <h1 class="padding-medium">Prenez vos rendez-vous beauté en ligne, 24h / 24h</h1>
    <div class="padding-medium">
      <div class="container">
        <div class="row">

          <%= form_tag(institutes_path, method: :get, class: "form-inline") do %>
            <%= select_tag :category, options_for_select(@categories, @categories.first), prompt: "Votre soin beauté", class: "form-control" %>
            <input type="text" data-provide='datepicker' placeholder= <%= Date.current %> class="form-control" >
            <div id="city-picker">
              <%= text_field_tag :city, nil, placeholder: "Ville", class: "form-control typeahead" %>
            </div>
            <%= submit_tag "RECHERCHER", class: "btn btn-black margin-top" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="featured">
  <h2 class="title">Meilleurs instituts</h2>
  <div class="container" >
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="institute">
          <div class="institute-header" style="background-image: url('<%= asset_path 'nailsparis.jpg'%>');"></div>
          <div class="institute-body">
            <h2>NailsParis</h2>
            <p class="description">Association originale de soins mains et pieds à la Thaïlandaise et de pose de vernis à la Française.</p>
            <p>59 Avenue Mozart 75016 Paris</p>
            <div class="footer">
              <a href="#"><i>Détails </i><i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="institute">
          <div class="institute-header" style="background-image: url('<%= asset_path 'evidence.jpg'%>');"></div>
          <div class="institute-body">
            <h2>Evidence</h2>
            <p class="description">Un concentré de ce qui se fait de mieux en termes de pose de prothèses d’ongles et de soins du corps.</p>
            <p>64 Boulevard Malesherbes 75008 Paris</p>
            <div class="footer">
              <a href="#"><i>Détails </i><i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="institute">
          <div class="institute-header" style="background-image: url('<%= asset_path 'manucurist.jpg'%>');"></div>
          <div class="institute-body">
            <h2>Manucurist</h2>
            <p class="description">Les salons de la célèbre marque de vernis. Des professionnels de la beauté des ongles, qui partagent leur savoir-faire à travers des conseils et des produits irréprochables.</p>
            <p>13 rue de la Chaussée d'Antin 75009 Paris</p>
            <div class="footer">
              <a href="#"><i>Détails </i><i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="institute">
          <div class="institute-header" style="background-image: url('<%= asset_path 'manucurist.jpg'%>');"></div>
          <div class="institute-body">
            <h2>Manucurist</h2>
            <p class="description">Les salons de la célèbre marque de vernis. Des professionnels de la beauté des ongles, qui partagent leur savoir-faire à travers des conseils et des produits irréprochables.</p>
            <p>13 rue de la Chaussée d'Antin 75009 Paris</p>
            <div class="footer">
              <a href="#"><i>Détails </i><i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;

      // an array that will be populated with substring matches
      matches = [];

      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');

      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push(str);
        }
      });

      cb(matches);
    };
  };

  var states = <%= raw Institute.all.map{ |institute| institute.city }.uniq.as_json %>;

  $('#city-picker .typeahead').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
    name: 'states',
    source: substringMatcher(states)
  });


  </script>
<% end %>

<div class="pro-access">
  <div class="white-card">
    <h2>Espace pro</h2>
    <br>
    <%= link_to "ACCES ESPACE PRO", new_user_session_path, class: "btn btn-gold" %>
    <div class="border-top" style="padding-top: 50px; margin: 50px;">
      <i>Inscrivez votre salon sur BeautyTime et bénéficiez de notre logiciel de gestion de rendez-vous en ligne, imaginé avec nos partenaires beauté afin de répondre aux réels besoins d’un institut.</i>
      <br>
      <div class="link"><a href="#"><i>Plus d'infos </i><i class="fa fa-long-arrow-right"></i></a></div>
      <%= link_to "INSCRIVEZ VOTRE INSTITUT", new_institute_path, class: "btn btn-black" %>
    </div>
  </div>
</div>


